@import 'fonts.css';
/*место для переменных*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-style: normal;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.offer {
    padding: 20px 0;
    background: linear-gradient(90.09deg,
            #3800AF 0%, #BF7204 97.52%,
            #C27500 100%, #C27500 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 100px; */
}

.offer__descr {
    width: 166px;
    margin-left: 24px;
    color: #fff;
    font-family: 'Comfortaa';
    font-size: 16px;
    line-height: 18px;
}

.navigate {
    background: rgba(1, 3, 5, 0.8);
    backdrop-filter: blur(15px);
    padding: 29px 0;
    /* position: fixed;
    width: 100%;
    top: 80px;
    z-index: 10000; */
}
.header{
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Comfortaa';
    font-weight: 700;
}

.header__link {
    color: #fff;
    display: block;
    margin-right: 30px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    position: relative;
}

.header__list li:last-child .header__link {
    margin-right: 0;
}

.header__link:hover {
    color: #ed8e00;
}

.header__link::after {
    content: '';
    height: 2px;
    width: 100%;
    border-radius: 23px 10px 0px 0px;
    display: block;
    margin-top: 40px;
    position: absolute;
}

.header__link:hover::after {
    background: #ED8E00;
}

body {
    background: #040D1F;
}

/* main */
.main img {
    width: 100%;
    display: block;
}

.kong {
    position: relative;
}

.kong img {
    height: 640px;
    object-fit: cover;
}

.kong__abs {
    background: rgba(7, 15, 25, 0.75);
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
}

.kong__title {
    font-family: 'Montserrat';
    font-size: 64px;
    line-height: 78px;
    color: #fff;
}

.kong__descr {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 24px;
    color: #c8c8c8;
    margin: 30px 0 50px;
    max-width: 570px;
    width: 100%;
    text-align: justify;
}

.kong__links {
    display: flex;
}

.kong__link {
    color: #000;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    padding: 17px 0px;
    width: 166px;
    text-align: center;
    display: block;
    background: #f18128;
    border-radius: 4px;
}

.kong__link:hover {
    background: #040d1f;
    color: #fff;
}

.kong__link-se {
    margin-left: 30px;
}

.films {
    padding: 60px 0 77px;
}

.row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.col {
    padding: 0 15px;
    width: 25%;
}

img.play__icon {
    width: auto;
}

.films__title {
    font-family: 'Comfortaa';
    font-size: 36px;
    line-height: 40px;
    color: #f18128;
    font-weight: normal;
    margin-bottom: 54px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f18128;
    width: max-content;
}

.films__item {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.films__abs {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 54px 14.49px 0;
    background: linear-gradient(180deg,
            rgba(241, 129, 40, 0.35) 0%,
            rgba(0, 0, 0, 0.71) 51.04%,
            rgba(7, 15, 25, 0.8) 100%);
}

.films__time {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 10px;
    color: #fff;
    padding: 7px 27px;
    display: block;
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid #fff;
    border-radius: 9px;
    margin: 12px 0 38px;
}
.films__name{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 12px;
}
.films__descr{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 21px;
    color: #fff;
}
.widow{
    padding: 42px 0 80px;
    background: linear-gradient(90deg, #DEF7FF 0%, 
    #F4FCFF 45.64%, 
    rgba(255, 255, 255, 0) 100.72%),
    url(../images/widowbg.png) no-repeat right/60%;
    position: relative;
}
.widow__img{
    max-width: 445px;
    width: 100%;
}
.widow__descr{
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    max-width: 558px;
    width: 100%;
    margin: 51px 0 55px;
}
.widow__video{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60vw;
}
.widow__video video{
    object-fit: cover;
}
.widow::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: linear-gradient(90deg, #DEF7FF 0%, 
    #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    z-index: 5;
}
.widow__content{
    z-index: 6;
    position: relative;
}
/* css переменные */
/* :root{
    --bg: #000;
    --font: 'Roboto';
}
.test{
    background: var(--bg);
} */
.collections{
    padding: 61px 0 63px;
}
.collections__title{
    margin-bottom: 51px;
}
.collections__content{
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 350px));
    grid-gap: 30px;
    justify-content: center;
}
.collections__item{
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.collections__abs{
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%,
     rgba(49, 114, 9, 0.56) 100%);
     position: absolute;
     top: 0;
     display: flex;
     align-items: center;
     width: 100%;
     height: 100%;
     justify-content: space-between;
     padding: 7px;
     transition: 0.5s;
}
.collections__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.collections__column span{
    display: block;
    width: 19px;
    height: 24px;
    background: #040d1f;
    border-radius: 2px;
}
.collections__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collections__link{
    display: block;
    font-family: 'Comfortaa';
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: #fff;
    margin-top: 15px;
}
.collections__item:hover .collections__abs{
    transform: rotate(360deg);
}
.series__item{
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.throne img{
    height: 436px;
    object-fit: cover;
}
.throne__abs, .series__abs{
background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
position: absolute;
top: 0;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 22px;
text-align: center;
}
.throne__title{
    font-family: 'Comfortaa';
    font-size: 40px;
    line-height: 45px;
    color: #fff;
}
.throne__descr{
    margin: 27px 0 30px;
    color: #fff;
    font-family: 'Comfortaa';
    font-size: 16px;
    line-height: 24px;
}
.series__abs{
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
}
.series__link{
    font-family: 'Comfortaa';
    font-size: 24px;
    line-height: 27px;
    color: #fff;
    display: block;
    margin-top: 20px;
    font-weight: 700;
}
.series__content{
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    gap: 30px;
    margin-bottom: 63px;
}
.throne{
    grid-column: span 4;
}
.wanda{
    grid-column: span 2;
    grid-row: span 2;
}
.footer{
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    padding: 24.5px 0;
}
.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__descr{
    color: #fff;
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}
.footer__links{
    display: flex;
}
.footer__link:first-child{
    margin-right: 50px;
    display: block;
}
html{
    scroll-behavior: smooth;
}
@media(max-width: 1060px){
    .col{
        width: auto;
        padding: 0;
    }
    .films__content{
        display: grid;
        grid-template-columns: repeat(2, minmax(230px, 255px));
        grid-gap: 30px;
        justify-content: center;
    }
}
@media(max-width: 950px){
    .collections__content{
        grid-template-columns: repeat(1, minmax(270px, 350px));
        justify-content: center;
    }
    .series__content{
        grid-template-columns: repeat(2, lfr);
    }
    .throne{
        grid-column: span 2;
    }
}
@media(max-width: 660px){
    .footer__content{
        flex-direction: column;
        text-align: center;
    }
    .footer__links{
        margin-bottom: 20px;
    }
}
@media(max-width: 570px){
    .films__content{
        grid-template-columns: repeat(1, minmax(230px, 355px));
    }
    .series__content{
        grid-template-columns: lfr;
    }
    .throne{
        grid-column: auto;
    }
    .wanda{
        grid-column: auto;
    }
    .throne img{
        height: 700px;
    }
    .logo__list{
        margin-top: 20px;
    }
    header__link{
        margin-right: 15px;
    }
    .navigate{
        position: 15px 0;
    }
    .header__link::after{
        margin-top: 13px;
    }
}
@media(max-width: 420px){
    .kong__title{
        font-style: 36px;
        line-height: 42px;
    }
    .kong__links{
        flex-direction: column;
        align-items: center;
    }
    .kong__links-se{
        margin-left: 0;
        margin-top: 20px;
    }
}